@import "PITCHMEbase.css";

code {
	color:#af1414;
}

.hljs {
	background: black;
}

.hljs-number, .hljs-string {
	color: #a2fca2;
}

.hljs-comment {
    color: #bbb;
}

span .hljs-symbol {
	color: #ffa080;
}


span .hljs-meta {
    color: #a0a0a0;
}

span .hljs-params {
	color: #FCA2EB;
}


/*
.reveal blockquote {
	background: rgba(255,0,0, 0.1);
}

#boxed-text-box {
	background: rgba(255,0,0, 0.1);	
}
*/

