/*
.reveal div {
	font-size: 90%;
}
*/

span .hljs-symbol {
	font-weight: bold !important;
}

span .hljs-meta {
    font-style: italic !important;
}

span .hljs-title {
	font-weight: bold !important;
}

.reveal blockquote {
	background: rgba(255,0,0, 0.1);
}

#boxed-text-box {
	background: rgba(255,0,0, 0.1);	
	font-size: 180% !important;
}


